<p id="notice"><%= notice %></p>

<h1>Ip Assets</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ip_assets.each do |ip_asset| %>
      <tr>
        <td><%= ip_asset.asset_type %></td>
        <td><%= ip_asset.description %></td>
        <td><%= ip_asset.title %></td>
        <td><%= link_to 'Show', ip_asset %></td>
        <td><%= link_to 'Edit', edit_ip_asset_path(ip_asset) %></td>
        <td><%= link_to 'Destroy', ip_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ip Asset', new_ip_asset_path %>
